
.menu {
	display: flex;
	justify-content: flex-start;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 77, 168, 1) 34%, rgba(72, 160, 195, 1) 100%);
	color: white;
	padding-right: 20px;
}


.booking-page h1 {
	background: #2A88AD;
	padding: 20px 20px 15px 20px;
	margin: -20px -20px 20px -20px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;	
}

.booking-page h1 > span {
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;	
}


@media screen and (max-width: 800px) {
	.menu {
		justify-content: space-between;
	}
}

@media screen and (max-width: 500px) {
	.menu {
		flex-direction: column;
	}
}



.top_nav {
	text-align: left
}

.top_nav li {
	display: inline
}

.top_nav li a {
    display: inline;
    text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding: 20px 15px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}

.top_nav li a:hover {
	background-color: #2ea9e2;
}

.add_banner {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: black;
}

.add_banner img {
	width: 70%;	
}

#titlebar {
    color:whitesmoke;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
	background: linear-gradient(90deg,rgba(72, 160, 195, 1) 0%, rgba(50, 77, 168, 1) 34%,  rgba(2, 0, 36, 1) 100%);
    padding-bottom: 1rem;
    padding-top: 1rem;
}


#footer {
    display: flex;
    width: 100%;
    background-color: #2ea9e2;
    color:white
}


.copyright {
    float: left;
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left
}

.copyright a {
    color: white
}

section {
margin:30px;
display:flex;
justify-content: space-around;
flex-wrap: wrap;
	
}


  
  h2 {
	color: #0a4870;
	font-weight: 500;
  }

  
  h1 {
	margin: 10px 20px;
  }

  section {
	  display:flex;
	  justify-content: center;
	  width:100%;
  }
  .booking-page {
	display:block;
	width:60rem;
	padding:20px;
	margin:10px 10px;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  }
  	.row {
		display: flex;
		justify-content: space-around;
	  }
	  
	.column {
		flex: 48%;
		text-align: justify;
		padding: 10px;
	  }

	  @media screen and (max-width: 600px) {
		.column {
		  flex: 100%;
		}
	  } 
	  
	body {
		background-color: #f2f2f2;
		font-family: 'RobotoDraft', 'Roboto', sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	h5 {
		margin: 0px;
		font-size: 1.4em;
		font-weight: 700;
	}

	p {
		font-size: 16px;
		
	}

	.center {
		
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* End Non-Essential  */

	.property-card {
		height: 18em;
		width: 14em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		border-radius: 16px;
		overflow: hidden;
		-webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
		box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
		margin-left: 2rem;
	}

	/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

	/* Top Half of card, image. */

	.property-image {
		height: 6em;
		width: 14em;
		padding: 1em 2em;
		position: Absolute;
		top: 0px;
		-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		background-image: url('atom_img/atom_card.png');
		background-size: cover;
		background-repeat: no-repeat;
	}


	/* Bottom Card Section */

	.property-description {
		background-color: #FAFAFC;
		height: 12em;
		width: 14em;
		position: absolute;
		bottom: 0em;
		-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		padding: 0.5em 1em;
		text-align: center;

	}

	.property-description >p {
		font-size: 12px;
	}


	.back_atom {
		background-color: #31B07A;
		color:wheat;
		
	}

	.back_visual {
		background-color: #20A0E8;
		color:white;
	}

	.back_storm  {
		background-color: #E534B1;
		color:black;
	}

	/* Social Icons */

	.property-social-icons {
		width: 1em;
		height: 1em;
		background-color: black;
		position: absolute;
		bottom: 1em;
		left: 1em;
		-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	/* Property Cards Hover States */

	.property-card:hover .property-description {
		height: 0em;
		padding: 0px 1em;
	}

	.property-card:hover .property-image {
		height: 18em;
	}

	.property-card:hover .property-social-icons {
		background-color: white;
	}

	.property-card:hover .property-social-icons:hover {
		background-color: blue;
		cursor: pointer;
	}




	.property-image-title
	{
	text-align:center;
	position:Relative;
	top:30%;
	opacity:0;
	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
	color:black;
	font-size:1.2em;
	}

	.property-card:hover .property-image-title
	{
	opacity:1;
	}

	.image.left {
		float: left;
		padding: 0 1.5em 1em 0;
		top: 0.25em;
	}




