.container {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: block;
    width: 100%;
    height: auto;
}

.col-lg {
    display:flex;
    width: 65%;
    height: auto;
}

.col-xl {
    display:flex;
    width: 100%;
    height: auto;
}

#header {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 20px
}

.header_top {
    background-color: #2c2c2c;
    display: inline;
    float: left;
    padding: 0 30px;
    width: 100%
}

.header_top_left {
    float: left;
    display: inline;
    width: 50%
}

.top_nav {
    text-align: left
}

.top_nav li {
    display: inline-block
}

.top_nav li a {
    display: inline-block;
    border-right: 1px solid #333;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 20px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.top_nav li a:hover {
    background-color: #2ea9e2
}

.header_top_right {
    float: left;
    display: inline;
    width: 50%;
    text-align: right
}

.header_top_right>p {
    color: #fff;
    display: inline-block;
    float: right;
    font: bold 12px sans-serif;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-right: 8px;
    padding-top: 20px
}

.header_bottom {
    background-color: #fff;
    display: inline;
    float: left;
    padding: 15px 30px 1px;
    width: 100%
}


.add_banner {
    float: right;
    width: 100%;
    height: auto
}

.add_banner img {
    width: 100%;
    height: 100%
}

#navArea {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 30px;
    background-color: #fff
}

.navbar {
    border: medium none;
    border-radius: 0
}

#footer {
    display: flex;
    width: 100%;
}

.footer_bottom {
    float: left;
    display: inline;
    width: 100%;
    padding: 10px;
    background-color: #2ea9e2;
    color: #ccc
}

.copyright {
    float: left;
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left
}

.copyright a {
    color: #ccc
}

#contentSection {
    float: left;
    display: inline;
    width: 100%;
    background-color: #fff;
    padding: 0 30px
}

.left_content {
    float: left;
    display: flex;
    width: 100%
}

.single_post_content {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 20px
}

.single_post_content>h2 {
    background: none repeat scroll 0 0 #151515;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px
}

.single_post_content>h2 span {
    padding: 4px 10px
}

.single_post_content_left {
    float: left;
    display: inline;
    width: 29%
}







